{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "framework/sections/hero/hero.html" (dict "context" $ "hero" .Params.hero) }}
    {{ else }}
        <div class="section section-base-bg pt-md-16 pb-md-0">
            {{ partial "framework/sections/title/title.html" (dict "context" $ "title" .Params.title "description" .Params.description) }}
        </div>
    {{ end }}

    {{/* Einführungstext aus _index.md – oberhalb der Artikelliste */}}
    {{ if .Content }}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

    {{/* Artikelliste */}}
    {{ $pages := .Pages }}
    {{ $pagesCount := len $pages }}
    {{ $summaryType := .Params.summary_type }}
    {{ if gt ($pagesCount) 0 }}
        <div class="section section-border-top">
            <div class="container">
                <div class="row">
                    {{ range .Pages }}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            {{ if $summaryType }}
                                {{ partial $summaryType . }}
                            {{ else }}
                                {{ partial "framework/summary/summary-full.html" . }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}
